@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

$bg-color: #141e27;
$main-color: #e0ddaa;
$accent-color: #203239;
$font-color: #fefefe;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@mixin btn (){
    padding: 0.4rem 1rem;
    border-radius: 3px;
    font-weight: 600;
    display: inline-block;
    cursor: pointer;
    font-size: 1rem;
    outline: none;
}
